[submodule "extern/SDL"]
	path = extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "extern/cimgui"]
	path = extern/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "extern/cglm"]
	path = extern/cglm
	url = https://github.com/recp/cglm
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
[submodule "extern/jansson"]
	path = extern/jansson
	url = https://github.com/akheron/jansson
